* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  #section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100VH;
    font-family: 'Questrial', sans-serif;

   
    background: linear-gradient(139deg, #43cab9, #ffffff, #d4d4d4, #a7ffe4);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
  
  #section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    background-color: #F3D250;
  }
  #section3 {
    height: 100vh;
    background-color: #ECECEC;
  }
  #section4 {
    height: 100vh;
    background-color: #F3D250;
  }
  #section5 {
    height: 100vh;
    background-color: #ECECEC;
  }
  #section6 {
    height: 100vh;
    background-color: #F3D250;
  }




.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #f1f1f1;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #101010;
    display: block;
    transition: 0.6s;
    font-family: arial;
  }
  
  .sidebar img,a:hover {
    color: #f1f1f1;
  }

  .sidebar img {
    height: 50px;
  }

  .nav-socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 60vh
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    position: fixed;
  }
  
  
  #nav {
    transition: margin-left .5s;
    background-color: transparent;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dolbeycontainer ul {
    display: inline-block;
}

/* Headlines */
.dolbeydev, li {
    text-align: center;
    font-size: 80px;
    display: inline-block;
    list-style: none;

}

/* design+developement+coffee */
.landing  p {
    text-align: center;
    padding: 40px 0px;
    font-size: 16px;
}

/* LEARN MORE */
.landing h3 {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 30px;
}


.about h2 {
    text-align: center;
    font-size: 80px;
}
.about p {
    text-align: center;
    padding: 40px 0px;
    width: 600px;
    line-height: 3.8vh;
}

.landing h3 a:link {
    display: block;
    color: black;
}
.landing a, .about a:visited {
    color: black;
}

.wbutton, .ybutton, .bbutton{
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        }
      
      .wbutton:hover {
        background-color: #F3D250;
        box-shadow: 0px 15px 20px #F3D250;
        color: #fff;
        transform: translateY(-7px);
      }

        .ybutton:hover {
            background-color: #ECECEC;
            box-shadow: 0px 15px 20px;
            color: #fff;
            transform: translateY(-7px);
        }

        .bbutton:hover {
            background-color: #c1e3fb;
            box-shadow: 0px 15px 20px;
            color: #fff;
            transform: translateY(-7px);
      }



/* DEV with background of code */
.codeword{
    background-image: url(https://w.wallhaven.cc/full/j5/wallhaven-j5elow.jpg);
    background-size: cover;
    background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    font-size: 80px;

  }

.skillset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.skillset-container h3 {
  text-shadow: 1px 1px 2px lightgrey;
}

.skillset-grid {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 25px;
  background-color: white;
}
.skillset-grid img {
  width: 100px;
  height: auto;
}

.skillset-grid-item {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}

.skillset-grid-item:nth-child(2) {
  border-right: 1px solid lightgrey;
  border-left:  1px solid lightgrey;
 
}

.skillset-grid-item p {
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

.skillset h2 {
  text-align: center;
    font-size: 80px;
    font-family: 'Questrial', sans-serif;
    padding: 40px 0px;
}

.skillset a {
  display: flex;
  justify-content: center;
}

.skillset-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  font-family: 'Questrial', sans-serif;
}

.skillset-p {
  width: 100%;
  line-height: 2.2rem;
}

.portfolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.portfolio h2 {
  text-align: center;
    font-size: 80px;
    display: inline-block;
    list-style: none;
    font-family: 'Questrial', sans-serif;
    display: flex;
    justify-content: center;
}



.folio-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folio-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.folio-grid-item {
  flex-wrap: wrap;
  margin: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.folio-grid-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  border-radius: 25px;
}

.folio-grid-item img:hover {
  -webkit-transform: scale(1.03);
	transform: scale(1..03);
}


.team h2 {
  text-align: center;
  font-size: 80px;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.team-container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-grid {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-grid-item {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 150px;
  margin: 0px 40px;
}

.team-grid-item img {
  object-fit: contain;
  height: 250px;
  border-radius: 150px;
  display: block;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 150px;
}

.text1 {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.team-grid-item:hover .overlay1 {
  opacity: 1;
}

.team-button {
    display: flex;
    justify-content: center;
}

footer ul li img {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}

footer ul {
    list-style-type: none;
    padding-top: 50px;
}

footer ul li {
  display: inline-block;
  font-size: 16px;
  font-family: 'Questrial', sans-serif;
}

.footer-socials {
  display: flex;
  justify-content: center;
  padding: 10px;
}








/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 45px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #F3D250;
  padding: 10px;
  font-family: 'Questrial', sans-serif;
  margin-top: 100px;
}
.container h2 {
  padding: 20px;
  font-size: 60px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 50px;
  padding: 20px;
}

.column img {
  width: 100%;
  max-width: 400px;
  float: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}